<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Search for farms near you</h1>
    <br />
  </div>
</div>



<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <%= image_tag 'barn.png'%>
    <p>
    <h3 class="row"> Farm Owners </h3>
    <br />
    <h5 class="row"> List your farm and do this and that </h5>
    <br />
    <br />
  </div>

  <div class="col-sm-4">
    <%= image_tag 'barn.png'%>
    <p>
    <h3 class="row"> Farm Lovers </h3>
    <br />
    <h5 class="row"> List your farm and do this and that </h5>
    <br />
    <br />
  </div>

  <div class="col-sm-4">
    <%= image_tag 'barn.png'%>
    <p>
			<h3 class="row"> Happy Farm </h3>
      <br />
      <h5 class="row"> List your farm and do this and that </h5>
			<br />
			<br />
		</div>
