<div class="hero">
  <br />

  <div class="search col-xs-10 col-xs-offset-1">
    <%= form_tag farms_path, {method: :get} do %>
    <%= text_field_tag :search, nil, :placeholder => "Search for farms near you", :autocomplete => :off, class: 'search text-center' %>
    <% end %>
  </div>
</div>



<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <i class="fa fa-home fa-5x"></i>
  </p>
  <h3 class="row">
    Farm Owners
  </h3>
  <br />
  <h5 class="row">
    Reveal your farm and let everyone know how wonderful it is.
  </h5>
  <br />
  <br />
</div>

<div class="col-sm-4">
  <i class="fa fa-users fa-5x"></i>
</p>
<h3 class="row">
  Farm Lovers
</h3>
<br />
<h5 class="row">
  Explore and find all the fun secrets to a farm with your friends and family.
</h5>
<br />
<br />
</div>

<div class="col-sm-4">
  <i class="fa fa-heart fa-5x"></i>
</p>
<h3 class="row">
  Happy Farm
</h3>
<br />
<h5 class="row">
  Have fun and enjoy the secret farm world together.
</h5>
<br />
<br />
</div>
