<br />
<br />
<br />

<div class="booyah-box col-xs-6 col-xs-offset-3 text-center">
    <h2><i class="fa fa-search">
    <br />
  </i> No search results found for "<%= params[:search] %>".</h2>
  </div>
