// Place all the styles related to the farms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 350px;
}

.l-pagination {
  background: #fff;
  text-align: center;
  cursor: default;

  background: #fff;
}

.l-pagination a, .l-pagination span {
  padding: 0.2em 0.3em;
}

.l-pagination .disabled {
  color: #aaaaaa;
}

.l-pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #83E8D0;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}

.l-pagination a {
  text-decoration: none;
  color: #545759;
}

.l-pagination a:hover, .l-pagination a:focus {
  text-decoration: underline;
}

.pagination {
  margin: 0;
  margin-bottom: 7px;
}


/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}

// .carousel-caption {
//   background-color: rgba(0,0,0,.5);
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 10;
//   padding: 0 0 10px 25px;
//   color: #fff;
//   text-align: left;
// }

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.placeholder {
  border-radius: 0;
}

.btn-edit-details {
  margin-right: 18px;
}

.user {
  font-weight: 900;
  margin: 0;
  font-size: 17px;
}

.review-section {
  font-size: 18px;
  padding-right: 0;
  padding-left: 0;
}

.farm_name_profile {
  font-size: 23px;
}

.no_farm_yet_profile {
  margin-top: 10px;
}

.user_info {
  padding: 28px 0;
}

.pretty_pot {
  max-height: 120px;
  max-width: 120px;
}

@media(max-width:768px) {
  .pretty_pot_container {
    text-align: center;
  }
  .user_info {
    padding-top: 0;
  }
}

.radio, .checkbox {
  border: 1px transparent solid;
   display:inline-block;
   width:13em;
}

#farm_description {
  height: 200px;
}

// circle
// .polaroid-image {
//   height:200px;
//   width:200px;
//   overflow: hidden;
//   border-radius:50%;
//   -webkit-transform:translate(-50%);
//   margin-left:100px;
// }

.polaroid-image {
  background: white;
  display: inline;
  float: left;
  margin: 0 13px 7px;
  padding: 10px 10px 33px;
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  -moz-transition: all .15s linear;
  position: relative;
  top: 15px;
}
