@import url(https://fonts.googleapis.com/css?family=Grand+Hotel);
// font-family: 'Grand Hotel', cursive;

@import url(https://fonts.googleapis.com/css?family=Bonbon);
// font-family: 'Bonbon', cursive;

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
// font-family: 'Yanone Kaffeesatz', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Muli);
// font-family: 'Muli', sans-serif;
