body {
  color: #545759;
  font-family: 'Muli', sans-serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
}

// Remove round edges from all buttons
.btn {
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
}

abbr[title], abbr[data-original-title] {
  cursor: default;
}

.clear {
  clear: both;
}

.btn-danger {
  color: #fff;
  background-color: #ec6e67;
  border-color: transparent;
}

Li.list-farm-btn a {
  padding: 4px 12px;
  color: #FF7055;

}

Li.list-farm-btn {
  border-color: #FF7055;
  line-height: 61px; margin-top: 10px;
  margin-right: 15px;
}

.alert-info {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  margin-top: 20px;
}

.clear {
    clear: both;
}

a {
    color: #545759;
}

.radio, .checkbox {
  border: 1px transparent solid;
   display:inline-block;
   width:10em;
}

#farm_description {
  height: 100px;
}
